backend/** @misrasatyarth @atharveeam @VijayGohel @rishi-veeam
frontend** @arpanmukh96 @VijayGohel @atharveeam @misrasatyarth
.github/** @fatma-begum @rasha2veeam @bkumar-veeam
terraform/** @fatma-begum @rasha2veeam @bkumar-veeam
docs/** @fatma-begum @rasha2veeam @bkumar-veeam @misrasatyarth @arpanmukh96